.chatbot-card {
  background-color: rgba(8, 8, 8, 0.438);
  width: 500px;
  margin-left: 10em;
  border-radius: 10px;
  position: absolute;
  margin-top: 1%;
  margin-left: 64%;
}

.human-input {
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 10px;
}

#user-input {
  background-color: white;
  border-radius: 5px;
  text-align: left;
  width: 17rem;
  position: relative;
  left: -60px;
  margin: 15px;
}

#bot-reply {
  background-color: white;
  border-radius: 5px;
  text-align: left;
  width: 20rem;
  position: relative;
  left: -230px;
}

.conversation-box {
  padding-left: 15rem;
  padding-right: 15rem;
}

.chatbox {
  overflow-y: scroll;
  overflow-y: auto;
  height: 500px;
}

.imgMars2 {
  height: 894px;
  width: 100%;
}

.story {
  position: absolute;
  font-size: 35px;
  color: white;
  margin-top: 6%;
  margin-left: 3%;
}
