@import url('https://www.ffonts.net/EXP-FONT.font');

.bgMars {
  background-image: cover;
  width: 100%;
  height: 890px;
}
.Menu {
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
}
.robot {
  text-align: center;
  padding-left: 5%;
  font-size: 80px;
  color: gray;
}

.box {
  display: flex;
  justify-content: center;
}

.title {
  position: absolute;
  margin: 0%;
  font-size: 400%;
  font-family: 'EXP-FONT', sans-serif, 'Times New Roman', Times, serif;
}
